@font-face {
  font-weight: normal;
  font-style: normal; }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

button {
  cursor: pointer; }

cite {
  font-style: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.baseline {
  background: url(./images/baseline.svg) repeat top center;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 9999; }

.baseline-toggle {
  border: none;
  background: crimson;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  top: 10px;
  right: 15px;
  cursor: pointer; }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0);
  pointer-events: none;
  opacity: 0; }

.grid-col {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%; }
  .grid-col:first-child {
    margin: 0 !important; }

/* Colors */
html {
  font-size: 62.5%; }

body, input, textarea, select, button {
  font-family: "Gotham A", "Gotham B", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 2rem;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400; }
  @media screen and (max-width: 680px) {
    body, input, textarea, select, button {
      font-size: 1.8rem;
      line-height: 1.5; } }

h1, h2, h3, h4, h5, h6 {
  color: #303C42; }

h1, h2 {
  font-family: Optima, "URWClassico-Regular", Helvetica, arial, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4.4rem;
  line-height: 1.25;
  font-weight: bold; }
  @media screen and (max-width: 680px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 1.1; }
  @media screen and (max-width: 680px) {
    h2 {
      font-size: 2.8rem; } }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  background: #ECF0F4;
  color: #63717D; }

section {
  background: #fff;
  padding: 80px 0; }
  @media screen and (max-width: 680px) {
    section {
      padding: 60px 0; } }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

li {
  list-style: none; }

div, section, header, footer, span, p, a, img, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box; }

/*******************************************************************************
PAGE CONTAINERS
*******************************************************************************/
.page {
  max-width: 1920px;
  background-color: #FFF;
  margin: 0 auto; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
  clear: both; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media screen and (max-width: 1280px) {
    .wrapper {
      padding: 0 20px; } }

.lead {
  font-size: 110%;
  color: #303C42; }

.banner {
  padding: 0;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  min-height: 100vh; }
  @media screen and (max-width: 680px) {
    .banner {
      min-height: auto; } }
  .banner__intro {
    padding: 22vh 0 27vh;
    position: relative;
    max-width: 700px; }
    @media screen and (max-width: 680px) {
      .banner__intro {
        padding: 10vh 0 14vh; } }
    .banner__intro h1 {
      font-size: 8.8rem;
      line-height: 1;
      margin-bottom: 20px;
      color: white;
      text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8); }
      @media screen and (max-width: 680px) {
        .banner__intro h1 {
          font-size: 6.2rem; } }
    .banner__intro p {
      font-size: 2.8rem;
      color: #FFF;
      text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.8); }
      @media screen and (max-width: 680px) {
        .banner__intro p {
          font-size: 2.4rem;
          max-width: 90%; } }
  .banner__cta {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 35px 0;
    position: relative; }
    .banner__cta h2 {
      color: white;
      text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4); }
      .banner__cta h2 a {
        display: block;
        transition: all 0.2s ease-in; }
        .banner__cta h2 a svg {
          float: right;
          fill: white;
          transform: scale(0.9);
          transition: transform 0.2s ease; }
          @media screen and (max-width: 680px) {
            .banner__cta h2 a svg {
              display: none; } }
        .banner__cta h2 a:hover svg {
          transform: scale(1.1) translateY(5px); }

.cta {
  padding: 0;
  font-size: 2.5rem; }
  @media screen and (max-width: 680px) {
    .cta {
      font-size: 2.2rem; } }
  .cta__link {
    display: block;
    padding: 30px 0;
    transition: all 0.2s ease;
    color: #FFF;
    font-weight: bold; }
    .cta__link:nth-child(1) {
      background: #41515a; }
    .cta__link:nth-child(2) {
      background: #303c42; }
    .cta__link:nth-child(3) {
      background: #252f33; }
    .cta__link:hover {
      background: #101416; }
    .cta__link span {
      display: block;
      padding-left: 50px;
      position: relative; }
    .cta__link span:before {
      content: '';
      width: 30px;
      height: 30px;
      left: 0px;
      border-radius: 50%;
      display: block;
      position: absolute;
      background: url(../images/ico-caret.svg) no-repeat white;
      background-size: 74%;
      background-position: center center;
      margin-right: 14px;
      box-shadow: 5px 3px 0 rgba(0, 0, 0, 0.6); }

.about h1, .contact h1, .projects h1 {
  margin-bottom: 30px; }
  @media screen and (max-width: 680px) {
    .about h1, .contact h1, .projects h1 {
      margin-bottom: 20px; } }

.about__title, .about__info, .contact__title, .contact__info, .projects__title, .projects__info {
  width: calc(99.9% * 1/3 - (44px - 44px * 1/3));
  margin-bottom: 20px; }

.about__title:nth-child(1n), .about__info:nth-child(1n), .contact__title:nth-child(1n), .contact__info:nth-child(1n), .projects__title:nth-child(1n), .projects__info:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.about__title:last-child, .about__info:last-child, .contact__title:last-child, .contact__info:last-child, .projects__title:last-child, .projects__info:last-child {
  margin-right: 0; }

.about__title:nth-child(3n), .about__info:nth-child(3n), .contact__title:nth-child(3n), .contact__info:nth-child(3n), .projects__title:nth-child(3n), .projects__info:nth-child(3n) {
  margin-right: 0;
  float: right; }

.about__title:nth-child(3n + 1), .about__info:nth-child(3n + 1), .contact__title:nth-child(3n + 1), .contact__info:nth-child(3n + 1), .projects__title:nth-child(3n + 1), .projects__info:nth-child(3n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .about__title, .about__info, .contact__title, .contact__info, .projects__title, .projects__info {
      width: calc(99.9% * 1/1 - (44px - 44px * 1/1)); }
    .about__title:nth-child(1n), .about__info:nth-child(1n), .contact__title:nth-child(1n), .contact__info:nth-child(1n), .projects__title:nth-child(1n), .projects__info:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
    .about__title:last-child, .about__info:last-child, .contact__title:last-child, .contact__info:last-child, .projects__title:last-child, .projects__info:last-child {
    margin-right: 0; }
    .about__title:nth-child(1n), .about__info:nth-child(1n), .contact__title:nth-child(1n), .contact__info:nth-child(1n), .projects__title:nth-child(1n), .projects__info:nth-child(1n) {
    margin-right: 0;
    float: right; }
    .about__title:nth-child(1n + 1), .about__info:nth-child(1n + 1), .contact__title:nth-child(1n + 1), .contact__info:nth-child(1n + 1), .projects__title:nth-child(1n + 1), .projects__info:nth-child(1n + 1) {
    clear: both; } }

.about__content, .contact__content, .projects__content {
  width: calc(99.9% * 2/3 - (44px - 44px * 2/3)); }

.about__content:nth-child(1n), .contact__content:nth-child(1n), .projects__content:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.about__content:last-child, .contact__content:last-child, .projects__content:last-child {
  margin-right: 0; }

.about__content:nth-child(3n), .contact__content:nth-child(3n), .projects__content:nth-child(3n) {
  margin-right: 0;
  float: right; }

.about__content:nth-child(3n + 1), .contact__content:nth-child(3n + 1), .projects__content:nth-child(3n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .about__content, .contact__content, .projects__content {
      width: calc(99.9% * 1/1 - (44px - 44px * 1/1)); }
    .about__content:nth-child(1n), .contact__content:nth-child(1n), .projects__content:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
    .about__content:last-child, .contact__content:last-child, .projects__content:last-child {
    margin-right: 0; }
    .about__content:nth-child(1n), .contact__content:nth-child(1n), .projects__content:nth-child(1n) {
    margin-right: 0;
    float: right; }
    .about__content:nth-child(1n + 1), .contact__content:nth-child(1n + 1), .projects__content:nth-child(1n + 1) {
    clear: both; } }
  .about__content p, .contact__content p, .projects__content p {
    margin-bottom: 20px;
    max-width: 100%; }

.about .highlight, .contact .highlight, .projects .highlight {
  color: #303C42;
  font-weight: bold; }

.projects h1 {
  width: calc(99.9% * 1/3 - (44px - 44px * 1/3)); }

.projects h1:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.projects h1:last-child {
  margin-right: 0; }

.projects h1:nth-child(3n) {
  margin-right: 0;
  float: right; }

.projects h1:nth-child(3n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .projects h1 {
      width: calc(99.9% * 1 - (44px - 44px * 1)); }
    .projects h1:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
    .projects h1:last-child {
    margin-right: 0; }
    .projects h1:nth-child(undefinedn) {
    margin-right: 0;
    float: right; }
    .projects h1:nth-child(undefinedn + 1) {
    clear: both; } }

.projects p {
  width: calc(99.9% * 2/3 - (44px - 44px * 2/3)); }

.projects p:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.projects p:last-child {
  margin-right: 0; }

.projects p:nth-child(3n) {
  margin-right: 0;
  float: right; }

.projects p:nth-child(3n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .projects p {
      width: calc(99.9% * 1 - (44px - 44px * 1)); }
    .projects p:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
    .projects p:last-child {
    margin-right: 0; }
    .projects p:nth-child(undefinedn) {
    margin-right: 0;
    float: right; }
    .projects p:nth-child(undefinedn + 1) {
    clear: both; } }

.projects a {
  font-weight: bold;
  color: #1b2124;
  position: relative; }
  .projects a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #303c42;
    bottom: -5px;
    left: 0;
    position: absolute;
    transition: width 0.2s ease; }
  .projects a:hover:after {
    width: 100%; }

.projects__list {
  clear: both;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  margin-top: 60px; }
  .projects__list:before, .projects__list:after {
    content: " ";
    display: table; }
  .projects__list:after {
    clear: both; }
  .projects__list__item {
    width: calc(99.9% * 1/4);
    background: #f9f9f9; }
  .projects__list__item:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none; }
  .projects__list__item:last-child {
  margin-right: 0; }
  .projects__list__item:nth-child(4n) {
  margin-right: 0;
  float: right; }
  .projects__list__item:nth-child(4n + 1) {
  clear: both; }
    @media screen and (max-width: 1024px) {
      .projects__list__item {
        width: calc(99.9% * 1/2); }
      .projects__list__item:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none; }
      .projects__list__item:last-child {
    margin-right: 0; }
      .projects__list__item:nth-child(2n) {
    margin-right: 0;
    float: right; }
      .projects__list__item:nth-child(2n + 1) {
    clear: both; } }
    @media screen and (max-width: 680px) {
      .projects__list__item {
        width: calc(99.9% * 1 - (44px - 44px * 1)); }
      .projects__list__item:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
      .projects__list__item:last-child {
    margin-right: 0; }
      .projects__list__item:nth-child(undefinedn) {
    margin-right: 0;
    float: right; }
      .projects__list__item:nth-child(undefinedn + 1) {
    clear: both; } }
    .projects__list__item__image {
      min-height: 300px;
      background: #fefefe;
      position: relative; }
      .projects__list__item__image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .projects__list__item__image img.tpgt {
          background: #303c42;
          padding: 5px; }
        .projects__list__item__image img.codepen, .projects__list__item__image img.github {
          max-width: 130px;
          opacity: 0.8; }
    .projects__list__item span {
      display: block;
      text-align: center;
      padding: 60px 0 65px;
      font-size: 1.6rem; }
    .projects__list__item a {
      display: block;
      position: relative; }
      .projects__list__item a img {
        filter: saturate(0);
        transition: all 0.2s ease; }
      .projects__list__item a:hover img {
        filter: saturate(0.8);
        transform: translate(-50%, -50%) scale(1.125);
        opacity: 1; }
      .projects__list__item a:after {
        display: none; }
      .projects__list__item a:before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 100%;
        position: absolute;
        background: #E4E4E4;
        z-index: 100; }

.about__btn {
  width: calc(99.9% * 1/2 - (44px - 44px * 1/2));
  position: relative;
  left: calc(99.9% * 0 - (44px - 44px * 0) + 44px);
  background-color: #303c42;
  border: none;
  color: #FFF;
  margin: 0;
  padding: 24px 33px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all .3s ease;
  text-align: center;
  margin-top: 30px; }

.about__btn:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.about__btn:last-child {
  margin-right: 0; }

.about__btn:nth-child(2n) {
  margin-right: 0;
  float: right; }

.about__btn:nth-child(2n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .about__btn {
      width: calc(99.9% * 1/1 - (44px - 44px * 1/1));
      position: relative;
      left: calc(99.9% * 0 - (44px - 44px * 0) + 44px); }
    .about__btn:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
    .about__btn:last-child {
    margin-right: 0; }
    .about__btn:nth-child(1n) {
    margin-right: 0;
    float: right; }
    .about__btn:nth-child(1n + 1) {
    clear: both; } }
  .about__btn:hover {
    background-color: #1b2124; }

.about .image-container {
  width: calc(99.9% * 1/3 - (44px - 44px * 1/3)); }

.about .image-container:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }

.about .image-container:last-child {
  margin-right: 0; }

.about .image-container:nth-child(3n) {
  margin-right: 0;
  float: right; }

.about .image-container:nth-child(3n + 1) {
  clear: both; }
  @media screen and (max-width: 680px) {
    .about .image-container {
      display: none; } }
  .about .image-container img {
    max-width: 64%;
    filter: saturate(0);
    transform: scale(0.98);
    transition: all 0.2s ease; }
    .about .image-container img:hover {
      filter: saturate(0.8);
      transform: scale(1); }

.about a:not([class*="btn"]) {
  position: relative; }
  .about a:not([class*="btn"]):after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #303c42;
    bottom: -5px;
    left: 0;
    position: absolute;
    transition: width 0.2s ease; }
  .about a:not([class*="btn"]):hover:after {
    width: 100%; }

.contact {
  background: #f9f9f9; }
  .contact__info p {
    margin-bottom: 30px; }
  .contact__info ul {
    margin: 38px 0 30px 0; }
    @media screen and (max-width: 680px) {
      .contact__info ul {
        margin: 20px 0 20px; } }
    .contact__info ul li {
      display: block;
      padding: 6px 0; }
      .contact__info ul li svg {
        fill: #303C42;
        transform: translateY(3px);
        margin-right: 10px; }
      .contact__info ul li a {
        position: relative; }
        .contact__info ul li a:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #303c42;
          bottom: -5px;
          left: 0;
          position: absolute;
          transition: width 0.2s ease; }
        .contact__info ul li a:hover:after {
          width: 100%; }
  .contact__heading {
    font-size: 2.8rem;
    line-height: 1.1; }
    @media screen and (max-width: 680px) {
      .contact__heading {
        font-size: 2.5rem;
        line-height: 1.2; } }
  .contact__field {
    width: calc(99.9% * 1/2 - (44px - 44px * 1/2));
    margin-top: 30px; }
  .contact__field:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }
  .contact__field:last-child {
  margin-right: 0; }
  .contact__field:nth-child(2n) {
  margin-right: 0;
  float: right; }
  .contact__field:nth-child(2n + 1) {
  clear: both; }
    @media screen and (max-width: 680px) {
      .contact__field {
        width: calc(99.9% * 1/1 - (44px - 44px * 1/1)); }
      .contact__field:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
      .contact__field:last-child {
    margin-right: 0; }
      .contact__field:nth-child(1n) {
    margin-right: 0;
    float: right; }
      .contact__field:nth-child(1n + 1) {
    clear: both; } }
    .contact__field--full {
      width: calc(99.9% * 1/1 - (44px - 44px * 1/1)); }
    .contact__field--full:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }
    .contact__field--full:last-child {
  margin-right: 0; }
    .contact__field--full:nth-child(1n) {
  margin-right: 0;
  float: right; }
    .contact__field--full:nth-child(1n + 1) {
  clear: both; }
      .contact__field--full textarea {
        width: 100%; }
    .contact__field label {
      font-size: 2.1rem;
      color: #303c42;
      display: block;
      margin: 0 0 10px; }
    .contact__field input[type=text], .contact__field input[type=email], .contact__field textarea {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: 2px solid #bac4ca;
      border-radius: 3px;
      font-size: 2rem;
      padding: 14px 14px 10px;
      outline: none;
      margin: 0;
      width: 100%;
      transition: all .3s ease; }
      .contact__field input[type=text]:focus, .contact__field input[type=email]:focus, .contact__field textarea:focus {
        border-color: #63717d; }
  .contact__submit {
    width: calc(99.9% * 1/2 - (44px - 44px * 1/2));
    position: relative;
    left: calc(99.9% * 0.5 - (44px - 44px * 0.5) + 44px);
    background-color: #303c42;
    border: none;
    color: #FFF;
    margin: 0;
    padding: 24px 33px;
    font-size: 2.2rem;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center; }
  .contact__submit:nth-child(1n) {
  float: left;
  margin-right: 44px;
  clear: none; }
  .contact__submit:last-child {
  margin-right: 0; }
  .contact__submit:nth-child(2n) {
  margin-right: 0;
  float: right; }
  .contact__submit:nth-child(2n + 1) {
  clear: both; }
    @media screen and (max-width: 680px) {
      .contact__submit {
        width: calc(99.9% * 1/1 - (44px - 44px * 1/1));
        position: relative;
        left: calc(99.9% * 0 - (44px - 44px * 0) + 44px); }
      .contact__submit:nth-child(1n) {
    float: left;
    margin-right: 44px;
    clear: none; }
      .contact__submit:last-child {
    margin-right: 0; }
      .contact__submit:nth-child(1n) {
    margin-right: 0;
    float: right; }
      .contact__submit:nth-child(1n + 1) {
    clear: both; } }
    .contact__submit:hover {
      background-color: #1b2124; }

/*******************************************************************************
HEADER
*******************************************************************************/
.header {
  background-color: transparent;
  padding: 34px 0;
  position: relative;
  /** position can be absolute if elements under it needs to flow up, ie a slideshow banner image**/
  display: block;
  clear: both; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  @media screen and (max-width: 680px) {
    .header {
      padding: 18px 0; } }

.brand {
  float: left;
  display: block;
  max-width: 120px;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 4px; }
  @media screen and (max-width: 680px) {
    .brand {
      width: 55px;
      height: 55px; } }
  .brand a {
    display: block;
    padding: 5px;
    position: absolute;
    width: 100%;
    top: 55%;
    transform: translateY(-50%); }

.nav {
  display: block;
  float: right;
  line-height: 1;
  font-size: 2rem; }

@media screen and (max-width: 680px) {
  .brand {
    float: none; }
  .nav {
    float: none; } }

.nav__menu {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 35px;
  right: 10px;
  line-height: 0.2;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  width: 50px;
  height: 40px; }
  @media screen and (max-width: 680px) {
    .nav__menu {
      display: block;
      top: 30px; } }

.nav__menu span {
  display: block;
  width: 30px;
  height: 5px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s ease;
  transform: rotate(0deg);
  left: 10px; }
  .nav__menu span:nth-child(1) {
    top: 0; }
  .nav__menu span:nth-child(2), .nav__menu span:nth-child(3) {
    top: 10px; }
  .nav__menu span:nth-child(4) {
    top: 20px; }

.nav__menu.active span:nth-child(1), .nav__menu.active span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
  opacity: 0; }

.nav__menu.active span:nth-child(2) {
  transform: rotate(45deg); }

.nav__menu.active span:nth-child(3) {
  transform: rotate(-45deg); }

.nav ul {
  display: block;
  padding: 0;
  margin: 0;
  transition: all .2s ease-out; }
  @media screen and (max-width: 680px) {
    .nav ul {
      max-height: 0;
      opacity: 0;
      overflow: hidden; }
      .nav ul.active {
        padding-top: 20px;
        max-height: 500px;
        opacity: 1; } }
  .nav ul:after {
    content: '';
    display: table;
    clear: both; }
  .nav ul .nav__item {
    float: left;
    color: #FFF; }
    @media screen and (max-width: 680px) {
      .nav ul .nav__item {
        float: none; } }
    .nav ul .nav__item a {
      padding: 20px 0 20px;
      display: block;
      float: left;
      position: relative;
      margin-right: 70px; }
      @media screen and (max-width: 680px) {
        .nav ul .nav__item a {
          float: none;
          margin-right: 0;
          text-align: center; } }
      .nav ul .nav__item a:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 0;
        height: 3px;
        background-color: #fff;
        transition: width 0.2s; }
      .nav ul .nav__item a:hover:after {
        width: 100%; }
        @media screen and (max-width: 680px) {
          .nav ul .nav__item a:hover:after {
            width: 0; } }
    .nav ul .nav__item--contact a {
      background-color: #303c42;
      color: #fff;
      padding: 20px 34px 20px;
      margin-right: 0;
      transition: background 0.2s ease; }
      @media screen and (max-width: 680px) {
        .nav ul .nav__item--contact a {
          margin-top: 15px; } }
      .nav ul .nav__item--contact a:hover {
        background-color: #1b2124; }
      .nav ul .nav__item--contact a:hover:after {
        display: none; }

.footer {
  font-size: 1.5rem;
  padding: 40px 0; }
  .footer a {
    position: relative; }
    .footer a:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #303c42;
      transition: width 0.2s; }
    .footer a:hover:after {
      width: 100%; }
  @media screen and (max-width: 500px) {
    .footer p {
      max-width: 100%; } }
  .footer__info {
    float: left;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #303C42; }
    @media screen and (max-width: 680px) {
      .footer__info {
        display: block;
        float: none; } }
    @media screen and (max-width: 680px) {
      .footer__info__contact {
        display: block; } }
    .footer__info__contact:before {
      content: "|";
      margin: 0 5px;
      display: inline-block; }
      @media screen and (max-width: 680px) {
        .footer__info__contact:before {
          display: none; } }
  .footer__desc {
    display: block;
    clear: both; }
  .footer__sitemap {
    float: right;
    color: #303C42; }
    @media screen and (max-width: 680px) {
      .footer__sitemap {
        float: none;
        clear: both;
        margin-top: 20px;
        margin-bottom: 30px; } }
    .footer__sitemap li {
      display: inline-block; }
      @media screen and (max-width: 680px) {
        .footer__sitemap li {
          display: block; } }
      .footer__sitemap li:last-child {
        padding-right: 0; }
      .footer__sitemap li:before {
        content: "|";
        margin-left: 10px;
        margin-right: 14px; }
        @media screen and (max-width: 680px) {
          .footer__sitemap li:before {
            display: none; } }
      .footer__sitemap li:first-child:before {
        display: none; }
      .footer__sitemap li a {
        font-weight: bold;
        padding: 0;
        margin: 0; }
        @media screen and (max-width: 680px) {
          .footer__sitemap li a {
            display: block;
            padding: 14px 0 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }
  .footer__contact {
    display: block;
    clear: both; }
