/*******************************************************************************
HEADER
*******************************************************************************/
.header {
	background-color: transparent;
	padding: 34px 0;
	position: relative;	/** position can be absolute if elements under it needs to flow up, ie a slideshow banner image**/
	display:block;
	@include clearfix;
	@media screen and (max-width: $media-mobile) {
		padding: 18px 0;
	}
}

.brand {
	float: left;
	display: block;
	max-width: 120px;
	width: 60px;
	height: 60px;
	position:relative;
	border-radius:4px;
	@media screen and (max-width: $media-mobile) {
		width: 50px;
		height: 45px;
	}
	a {
		display: block;
		padding: 5px;
		position:absolute;
		width:100%;
		top:55%;
		transform: translateY(-50%);
	}
}
.nav {
	display:block;
	float: right;
	line-height: 1;
	font-size: 2rem;
}
@media screen and (max-width: $media-mobile) {
	.brand {
		float: none;
	}
	.nav {
		float: none;
	}
}
.nav__menu {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 35px;
	right: 20px;
	line-height: 0.2;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	width: 50px;
	height: 40px;
	@media screen and (max-width: $media-mobile) {
		display: block;
		top: 30px;
	}
}

.nav__menu span {
	display: block;
	width: 30px;
	height: 5px;
	background: #333;
	border-radius:2px;
	position: absolute;
	transition: all 0.2s ease;
	transform: rotate(0deg);
	left: 10px;
	&:nth-child(1) {
		top: 0;
	}
	&:nth-child(2), &:nth-child(3) {
		top: 10px;
	}
	&:nth-child(4) {
		top: 20px;
	}
}

.nav__menu.active {
	span {
		&:nth-child(1),&:nth-child(4) {
			top: 10px;
			width: 0;
			left: 50%;
			opacity: 0;
		}
		&:nth-child(2) {
			 transform: rotate(45deg);
		}
		&:nth-child(3) {
			 transform: rotate(-45deg);
		}
	}
}

.nav ul {
	display: block;
	padding: 0;
	margin: 0;
	transition: all .2s ease-out;
	@media screen and (max-width: $media-mobile) {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		&.active {
			padding-top: 20px;
			max-height: 500px;
			opacity: 1;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.nav__item {
		float: left;
		color: $white;
		@media screen and (max-width: $media-mobile) {
			float: none;
		}
		a {
			padding: 20px 0 20px;
			display: block;
			float: left;
			position: relative;
			margin-right: 70px;
			@media screen and (max-width: $media-mobile) {
				float: none;
				margin-right: 0;
				text-align: center;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 10px;
				width: 0;
				height: 3px;
				background-color: $highlight-2;
				transition: width 0.2s;
			}
			&:hover:after {
				width: 100%;
				@media screen and (max-width: $media-mobile) {
					width: 0;
				}
			}
		}
		&--contact a {
			background-color: $highlight;
			color: #fff;
			padding: 20px 34px 20px;
			margin-right: 0;
			transition: background 0.2s ease;
			@media screen and (max-width: $media-mobile) {
				margin-top: 15px;
			}
			&:hover {
				background-color: $highlight-2;
			}
			&:hover:after {
				display: none;

			}
		}
	}
}
