html {
	font-size: 62.5%;
}
body {
	background: #ECF0F4;
	color: #63717D;
}
section {
	background: #fff;
	padding: 80px 0;
	@media screen and (max-width:$media-mobile) {
		padding: 60px 0;
	}
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
}
li {
	list-style: none;
}
div, section, header, footer, span, p, a, img, h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
}


/*******************************************************************************
PAGE CONTAINERS
*******************************************************************************/
.page{
	max-width:$page-width;
	background-color: $white;
	margin: 0 auto;
}
.wrapper {
	max-width: $wrapper-width;
	margin: 0 auto;
	padding: 0 50px;
	// transition: padding 0.2s ease;
	@include clearfix;
	@media screen and (max-width : 1280px) {
		padding : 0 20px;
	}

}


.lead {
	font-size: 110%;
	color: #303C42;
}

.banner {
	padding: 0;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
	min-height:100vh;
	@media screen and (max-width:$media-mobile){
		min-height: auto;
	}
	&__intro {
		padding: 22vh 0 27vh;
		position: relative;
		max-width: 700px;
		@media screen and (max-width:$media-mobile){
			padding: 10vh 0 14vh;
		}
		h1 {
			font-size: 8.8rem;
			line-height:1;
			margin-bottom: 20px;
			color: white;
			text-shadow: 8px 8px 0px rgba(0,0,0,0.8);
			@media screen and (max-width:$media-mobile){
				font-size: 6.2rem;
			}
		}
		p {
			font-size: 2.8rem;
			color: $white;
			text-shadow: 5px 5px 0px rgba(0,0,0,0.8);
			@media screen and (max-width:$media-mobile){
				font-size: 2.4rem;
				max-width: 90%;
			}
		}
	}
	&__cta {
		border-top: 1px solid rgba(255,255,255,0.15);
		padding: 35px 0;
		position: relative;
		h2 {
			color: white;
			text-shadow: 5px 5px 0px rgba(0,0,0,0.4);
			a {
				display: block;
				transition: all 0.2s ease-in;
				svg {
					float: right;
					fill: white;
					transform: scale(0.9);
					transition: transform 0.2s ease;
					@media screen and (max-width:$media-mobile) {
						display:none
					}
				}
				&:hover {
					svg {
						transform: scale(1.1) translateY(5px);
					}
				}
			}
		}
	}
}


.cta {
	padding: 0;
	font-size: 2.5rem;
	@media screen and (max-width:$media-mobile) {
		font-size: 2.2rem;
	}
	&__link {
		display: block;
		padding: 30px 0;
		transition: all 0.2s ease;
		color: $white;
		font-weight: bold;
		&:nth-child(1){
			background: lighten($highlight, 8%);
		}
		&:nth-child(2){
			background: $highlight;
		}
		&:nth-child(3) {
			background: darken($highlight,5%);
		}
		&:hover {
			background: darken($highlight, 15%);
		}
		span {
			display:block;
			padding-left:50px;
			position:relative;
		}
		span:before {
			content: '';
			width: 30px;
			height: 30px;
			left: 0px;
			border-radius: 50%;
			display: block;
			position: absolute;
			background: url(../images/ico-caret.svg) no-repeat white;
			background-size: 74%;
			background-position: center center;
			margin-right: 14px;
			box-shadow:5px 3px 0 rgba(0,0,0,0.6);
		}
	}
}

.about, .contact, .projects {
	h1 {
		margin-bottom: 30px;
		@media screen and (max-width: $media-mobile) {
			margin-bottom: 20px;
		}
	}
	&__title, &__info {
		lost-column: 1/3;
		margin-bottom: 20px;
		@media screen and (max-width: $media-mobile) {
			lost-column: 1/1;
		}
	}
	&__content {
		lost-column: 2/3;
		@media screen and (max-width: $media-mobile) {
			lost-column: 1/1;
		}
		p {
			margin-bottom: 20px;
			max-width: 100%;
		}
	}
	.highlight {
		color: #303C42;
		font-weight: bold;
	}
}
.projects {
	h1 {
		lost-column: 1/3;
		@media screen and (max-width:$media-mobile) {
			lost-column: 1;
		}
	}
	p {
		lost-column: 2/3;
		@media screen and (max-width:$media-mobile) {
			lost-column: 1;

		}
	}
	a {
		font-weight: bold;
		color: $highlight-2;
		@include link-effect;
	}
	&__list {
		@include clearfix;
		border-top: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;
		margin-top: 60px;
		&__item {
			lost-column: 1/4 4 0;
			background: #f9f9f9;
			@media screen and (max-width:$media-tablet) {
				lost-column: 1/2 2 0;
			}
			@media screen and (max-width: $media-mobile) {
				lost-column: 1;
			}
			&__image {
				min-height:300px;
				background:#fefefe;
				position: relative;
				img {
					position:absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					&.tpgt {
						background: $highlight;
						padding: 5px;
					}
					&.codepen, &.github {
						max-width: 130px;
						opacity:0.8;
					}
				}

			}
			span {
				display: block;
				text-align: center;
				padding: 60px 0 65px;
				font-size: 1.6rem;
			}
			a {
				display: block;
				position: relative;

				img {
					filter: saturate(0);
					transition: all 0.2s ease;
				}
				&:hover {
					img {
						filter: saturate(0.8);
						transform: translate(-50%, -50%) scale(1.125);
						opacity: 1;
					}
				}
				&:after{
					display: none;
				}
				&:before {
					content: "";
					display: block;
					width: 1px;
					height: 100%;
					top: 0;
					bottom: 0;
					left: 100%;
					position: absolute;
					background: $grey-light;
					z-index: 100;
				}

			}
		}
	}
}
.about {
	&__btn {
		@include btn($white,$highlight,$highlight-2);
		margin-top:30px;
	}
	.image-container {
		lost-column:1/3;
		@media screen and (max-width:$media-mobile) {
			display: none;
		}
		img {
			max-width: 64%;
			filter:saturate(0);
			transform: scale(0.98);
			transition: all 0.2s ease;
			&:hover {
				filter: saturate(0.8);
				transform: scale(1);
			}
		}
	}
	a:not([class*="btn"]) {
		@include link-effect;
	}

}
.contact {
	background: #f9f9f9;
	&__info {
		p {
			margin-bottom: 30px;
		}
		ul {
			margin: 38px 0 30px 0;
			@media screen and (max-width:$media-mobile) {
				margin: 20px 0 20px;
			}
			li {
				display: block;
				padding: 6px 0;
				svg {
					fill: $black;
					transform: translateY(3px);
					margin-right: 10px;
				}
				a {
					@include link-effect;
				}
			}
		}
	}
	&__heading {
		font-size: 2.8rem;
		line-height: 1.1;
		@media screen and (max-width:$media-mobile) {
			font-size: 2.5rem;
			line-height: 1.2;
		}
	}
	&__field {
		lost-column: 1/2;
		margin-top:30px;
		@media screen and (max-width: $media-mobile) {
			lost-column: 1/1;
		}
		&--full {
			lost-column: 1/1;
			textarea {
				width: 100%;
			}
		}
		label {
			font-size: 2.1rem;
		    color: #303c42;
		    display: block;
		    margin: 0 0 10px;
		}
		input[type=text], input[type=email], textarea {
			appearance: none;
			border: 2px solid #bac4ca;
			border-radius: 3px;
			font-size: 2rem;
			padding: 14px 14px 10px;
			outline: none;
			margin: 0;
			width: 100%;
			transition: all .3s ease;
			&:focus {
				border-color: #63717d;
			}
		}
	}
	&__submit {
		@include btn($white,$highlight,$highlight-2,1/2);
	}
}
