html {
	font-size: 62.5%;
}

body, input, textarea, select, button {
	font-family: $main-font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	font-size: 1.6rem;
	line-height: 1.4;
	font-style: normal;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	color: #303C42;
}

h1, h2 {
	font-family: $alt-font-family;
	font-weight: normal;
}

h1 {
	font-size: 4.4rem;
	line-height: 53px;
}
a {
	text-decoration: none;
}
