@font-face {
  font-weight: normal;
  font-style: normal;
}

@lost gutter 44px;

$page-width: 1920px;
$wrapper-width: 1280px;
$media-desktop: 1280px;
$media-tablet: 1024px;
$media-mobile: 680px;
$main-font-family :  "Gotham A", "Gotham B", sans-serif;
$alt-font-family : Optima, 'URWClassico-Regular', Helvetica, arial, sans-serif;



@mixin clearfix {
    &:before, &:after {
        display: table;
        content: ""
    }
    &:after {
        clear: both;
    }
}

@mixin link-effect($color:$highlight,$bottom:-5px) {
    position: relative;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $color;
        bottom: $bottom;
        left: 0;
        position: absolute;
        transition: width 0.2s ease;
    }
    &:hover:after {
        width:100%;
    }
}
@mixin btn($color,$bg,$bghover,$move:0)  {
    lost-column: 1/2;
    lost-move:$move;
    background-color:$bg;
    border: none;
    color: $color;
    margin: 0;
    padding: 24px 33px;
    font-size: 2.2rem;
    cursor: pointer;
    transition: all .3s ease;
    text-align:center;
    @media screen and (max-width:$media-mobile) {
        lost-column: 1/1;
        lost-move: 0;
    }
    &:hover {
        background-color: $bghover;
    }
}
@import 'libraries/_reset';
@import 'libraries/_colours';
@import 'libraries/_mixins';
@import 'components/_typography';
@import 'components/_page';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_home';
