@font-face {
  font-weight: normal;
  font-style: normal;
}

@lost gutter 44px;

$page-width: 1600px;
$wrapper-width: 1280px;
$media-desktop: 1280px;
$media-tablet: 1024px;
$media-mobile: 680px;

$main-font-family :  "Gotham A", "Gotham B", sans-serif;
$alt-font-family : Optima, 'URWClassico-Regular', Helvetica, arial, sans-serif;

@import 'libraries/_reset';
@import 'libraries/_colours';
@import 'libraries/_mixins';
@import 'components/_typography';
@import 'components/_page';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_home';


@mixin clearfix {

}
